<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liver Disease Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kidney_p2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kidney Disease Prediction Result</h1>
        <p><strong>Prediction: </strong>{{ prediction }}</p>
        <!-- Button to go back to the input form -->
        <button onclick="window.location.href='/'">Go Back to the Input Form</button><br><br>
        <button onclick="window.location.href='/doctors'">Consult a Doctor</button>
        
    </div>
</body>
</html>
