<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Predictor - Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/heart_page2.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Heart Disease Probability Detector</h1>
        <div id="result">
            <p>{{ result }}</p>
        </div>
        <button onclick="window.location.href='/'">Go Back to the Input Form</button>
        <button onclick="window.location.href='/doctors'">Consult a Doctor</button>
    </div>

    <script>
        function goBack() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
